
extends base

block emailContent
  h1 Hola #{name},  


  p Mi nombre es Andrés Gonzalez, Gracias por contactarte conmigo.
  p en poco tiempo me pondré en contacto contigo.
  br
  h2 !Estoy entusiasmado por trabajar juntos¡